<div class="container main-container border">
    <div class="container row header">
        <div class="col-2 container-fluid d-flex flex-row justify-content-center align-items-center">
            <img src="./img/logo.png" alt="" class="img-fluid">
        </div>
        {{> title}}
    </div>
    <div class="container row site-content">
        <div class="col-2 main-nav container-fluid">
            {{> sidebar }}
        </div>
        <div class="col-10 main-content container-fluid">
                <form id="filterForm" class="form-inline justify-content-center" method="GET" action="./products">
                    <div class="form-group p-2">
                        <label for="filterProductCategory" class="col-form-label mr-2">Szűrés csoportra: </label>
                        <select class="form-control form-control-sm" id="filterProductCategory" name="product_cat" onchange="this.form.submit()">
                            <option value="0">Összes csoport</option>
                            {{#each category}}
                            <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </form>
            {{> products-main}}
        </div>
    </div>
</div>
<script>
            const filterProductCategory = document.querySelector('#filterProductCategory');
            filterProductCategory.value = {{category_filter}};
</script>